<configuration>

    <!-- Console Logging -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread]  %X{traceId} %-5level %logger{36} - %msg%n</pattern>

        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=my-hotel-svc-app, environment=production, region=eu-west-1, level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss} [%thread]  %X{traceId}  %magenta(%-5level) %green([%-50.50class]) >>> %cyan(%msg) %n
                </pattern>
            </message>
        </format>
        <encoder class="com.github.loki4j.logback.JsonEncoder">
            <labels>
                <label name="app">spring-boot-app</label>
                <label name="level">%level</label>
            </labels>
            <pattern>
                {
                "timestamp": "%date{ISO8601}",
                "level": "%level",
                "thread": "%thread",
                "logger": "%logger",
                "message": "%message"
                }
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!--        <appender-ref ref="LOKI"/>-->
        <!--        <appender-ref ref="LOKI"/>-->
    </root>
</configuration>